body {
    background: blue;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar {
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: #660909;
    background-image: linear-gradient(to bottom, #660909 75%, #360505 100%);
    /* border-bottom: 2px solid #0E4466; */
}

#navbar ul li {
    float: right;
}

a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    text-align: center;
    color: #B3B134;
    font-size: 20px;
}

a:hover {
    background-color: #0E4466;
    /* box-shadow: 0px 30px 100px #0E4466; */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #B3B134;
    background-image: linear-gradient(to bottom, #B3B134 95%, #b22222 100%);
    color: #0E4466;
    text-shadow: 12px 12px 45px #660909;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin:0;
}

#welcome-section p {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-style: italic;
}

.flex-cont-for-rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#about-me {
    background-color: #B3B134;
    background-image: linear-gradient(to bottom, #b22222 0%, #B3B134 2%, #B3B134 90%, #b22222 100%);
    width: 100%;
    padding: 10px 0;
    /* display: none; */
}

#img-box {
    width: 20%;
    margin: auto 0;
}

img {
    width: 100%;
}

#bio {
    width: 60%;
    margin: 0 10px;
    padding: 5px;
    background-color: rgb(255, 255, 255, 0.25);
    border-radius: 25px;
}

h3 {
    font-size: 30px;
    margin: 20px 0;
}

#spotify-link {
    width: 10%;
    margin: auto 0;
}

#spotify-link a {
    color: #0E4466;
}

#projects {
    background-color: #b22222;
    background-image: linear-gradient(to bottom, #b22222 80%, #660909 100%);
    width: 100%;
    padding: 10px 0;
    color: #0E4466;
}

.project-box {
    width: 20%;
    height: 200px;
    margin: 10px 5%;
    background-color: floralwhite;
}

.project-box p {
    /* margin: 83px auto; */
}

#contact-me {
    background-color: #660909;
    background-image: linear-gradient(to bottom, #660909 90%, #360505 100%);
    color: #B3B134;
    width: 100%;
    padding: 10px 0;
    /* height: 200px; */
}

h2 {
    margin: 10px;
    text-align: center;
    font-size: 35px;
}

.contact-deet {
    /* background-color: floralwhite; temporary to arrange contact divs */
    padding: 5px;
    margin: 10px 10%;
}