body {
    background: #0E4466;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
}

/* Navigation bas styling*/

#navbar {
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: #660909;
    background-image: linear-gradient(to bottom, #660909 75%, #360505 100%);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    float: right;
}

a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    text-align: center;
    color: #C9B730;
    font-size: 20px;
}

a:hover {
    background-color: #0E4466;
    background-image: linear-gradient(to bottom, #0E4466 75%, #072030 100%);
    /* box-shadow: 0px 30px 100px #0E4466; */
}

/* Welcome Section */ 

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 0;
    background-color: #c9b730;
    /* background-image: linear-gradient(to bottom, #B3B134 95%, #b22222 100%); */
    /* text-shadow: 12px 12px 45px #0e4466; */
}

#marc-rod {
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin:0;
    color: #0E4466;
}

#welcome-section p {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-style: italic;
    color: #660909;
}

/* The rest of the sections use this flexbox config */

.flex-cont-for-rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

/* About Me Section */

#about-me {
    background-color: #C9B730;
    /* background-image: linear-gradient(to bottom, #b22222 0%, #B3B134 2%, #B3B134 90%, #b22222 100%); */
    width: 100%;
    padding: 50px 0;
    display: none;
}

#img-box {
    width: 20%;
    margin: auto 0;
}

img {
    width: 100%;
}

#bio {
    width: 70%;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255, 0.25);
    border-radius: 25px;
    line-height: 1.25;
}

h3 {
    font-size: 30px;
    margin: 20px 0;
}

/* Projects Section */ 

#projects {
    background-color: #660909;
    /* background-image: linear-gradient(to bottom, #b22222 80%, #660909 100%); */
    width: 100%;
    padding: 10px 0;
    color: #C9B730;
}

.project-tile {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 200px;
    margin: 10px 5%;
    background-color: rgb(255, 255, 255, 0.25);
    border-radius: 20px;
}

.project-tile a {
    height: inherit;
    padding: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 25px;
}

.project-tile p {
    display: none;
    text-align: center;
}

/* Contact Me Section */

#contact-me {
    background-color: #660909;
    border-top: 10px double #C9B730;
    background-image: linear-gradient(to bottom, #660909 90%, #360505 100%);
    color: #C9B730;
    width: 100%;
}

h2 { /* affects header in projects section too */
    margin: 10px;
    text-align: center;
    font-size: 40px;
}

.profile-link {
    /* background-color: floralwhite; temporary to arrange contact divs */
    padding: 5px;
    margin: 10px 5%;
}

.profile-link a {
    border-radius: 10px;
}

.fa {
    font-size: 30px;
}

@media (max-width: 320px) {
    #navbar a {
        padding: 10px 9px;
    }
    h1 {
        font-size: 43px;
    }
    #welcome-section p {
        font-size: 22px;
    }
    .flex-cont-for-rows {
        flex-direction: column;
    }
    #img-box {
        width: 100%;
    }

    #bio, .project-tile {
        width: 90%;
        margin: 5px auto;
    }
    
    h2 {
        font-size: 25px;
    }

    .project-tile {
        height: 140px;
    }
}

@media (max-width: 480px) {
    #navbar a {
        padding: 10px 9px;
    }
    h1 {
        font-size: 43px;
    }
    #welcome-section p {
        font-size: 22px;
    }
    .flex-cont-for-rows {
        flex-direction: column;
    }
    #img-box {
        width: 100%;
    }

    #bio, .project-tile {
        width: 90%;
    }
    h2 {
        font-size: 32px;
    }
}

@media (max-width: 800px) {
    .flex-cont-for-rows {
        flex-direction: column;
    }
    #img-box {
        width: 100%;
    }

    #bio, .project-tile {
        width: 90%;
    }

    #bio {
        margin: auto;
    }
}